<!doctype html>
<html>
    <head>
        <title>Is the electricity plugged in?</title>
    </head>
    <body>
        <img src="<%= electricity.url('apple-touch-icon-precomposed.png') %>" />
    </body>
</html>
